<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title }} - D3FC Visual Tests</title>

{{!-- <link href="{{ assets }}/style.css" rel="stylesheet"> --}}
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="{{ assets }}/d3-financial-components.css" rel="stylesheet">

<script src="{{ assets }}/d3.js"></script>
<script src="{{ assets }}/Layout.js"></script>
<script src="{{ assets }}/d3-financial-components.js"></script>