{{#withSort pages "data.title"}}
  {{#unless data.notATest}}
    <article id="{{ basename }}"
      data-tags="{{ data.tags }}"
      data-visuals="{{ relative ../../page.dest this.dest }}">
        <h2>
          <a href="{{ relative ../../page.dest this.dest }}">
          {{#if data.title}}
            {{ titleize data.title }}
          {{else}}
            <span style="color:red">Please add a title of this test</span>
          {{/if}}
          </a>
          <small class="pull-right">
            {{#withSort data.tags}}
              <span class="label label-primary">{{.}}</span>
            {{/withSort}}
          </small>
        </h2>
        
        {{#if data.description}}
          <p>{{ data.description }}</p>
        {{/if}}

{{!--         <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item"></iframe>
        </div> --}}
        <iframe></iframe>
        <hr>
    </article>
  {{/unless}}
{{/withSort}}