{{#withSort pages "data.title"}}
  {{#unless data.exclude}}
    <h2> <a href="{{ relative ../../page.dest this.dest }}">{{ data.title }}</a></h2>
    {{#if data.description}}<p>{{ data.description }}</p>{{/if}}
    {{#if data.readme}}<p>{{ data.readme }}</p>{{/if}}
    {{{md 'data.readme'}}}
    <iframe src="{{ relative ../../page.dest this.dest }}" ></iframe>
    <hr>
  {{/unless}}
{{/withSort}}