{{#withSort pages "data.title"}}
  {{#unless data.exclude}}
    <article data-tags="{{ data.tags }}">
        <h2>
          <a href="{{ relative ../../page.dest this.dest }}">{{ data.title }}</a>
        </h2>
        
        {{#withSort data.tags}}
          <span class="tag">{{.}}</span>
        {{/withSort}}

        {{#if data.description}}
          <p>{{ data.description }}</p>
        {{/if}}

        <iframe src="{{ relative ../../page.dest this.dest }}" ></iframe>
        <hr>
    </article>
  {{/unless}}
{{/withSort}}