<!DOCTYPE html>
<html lang="en">
  <head>
    {{> header }}
    <link href="{{assets}}/index.css" rel="stylesheet">
  </head>
  <body>
    {{> index-page-header }}

    <div id="main" class="container">
      <div class="row">

        <div class="col-md-10">
          {{> body }}

{{!--           <section id="tags">
            <p>Filter by selecting a tag:</p>
            {{> index-tag-filter }}
            <hr>
          </section> --}}

          <section id="tests">
            {{> index-test-list }}
          </section>

        </div>

        <div class="col-md-2 hidden-xs hidden-sm hidden-print">
          <nav class="sidebar-nav">
            <ul class="nav sidenav">
              {{#withSort categories}}
                <li><a href="#{{ category }}">{{ titleize category }}</a>
                <ul class="nav">
                {{#withSort pages "data.title"}}
                  {{#unless data.notATest}}
                  <li><a href="#{{ basename }}">{{ data.title }}</a></li>
                  {{/unless}}
                {{/withSort}}
                </ul>
                </li>
              {{/withSort}}
            </ul>
          </nav>
        </div>

      </div>
    </div>

    <footer>
      <script src="{{assets}}/jquery.min.js"></script>
      <script src="{{assets}}/bootstrap/js/bootstrap.min.js"></script>
      {{> footer }}
      <script src="{{assets}}/index.js"></script>
    </footer>
  </body>
</html>